@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --accent-color: 74, 222, 128; /* Green accent color */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.accent-glow {
  text-shadow: 0 0 10px rgba(var(--accent-color), 0.7);
}

.accent-border {
  border-color: rgba(var(--accent-color), 0.5);
}

.accent-text {
  color: rgb(var(--accent-color));
}

.accent-bg {
  background-color: rgb(var(--accent-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
